* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

/* --------------------------------- */

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'Open Sans';
    color: #21a4d9;
    margin-bottom: 5px;
}

.logo1 a {
    font-size: 15px;
    font-weight: thin;
    float: left;
    font-family: 'Open Sans';
    color: #21a4d9;
    margin-left: 8px;
    margin-top: -4px;
}

/* --------------------------------- */

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFF;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #21a4d9;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
 /* text-decoration: overline; */
 text-decoration-style: solid;
 color: #21a5d98c;
}

a.tbl-biru {
    background: #05a3db;
    border-radius: 50px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background:#21a5d98c;
    text-decoration: none;
}

#main1 {
    background: #05a3db;
    padding:50px 0px 20px 0px;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.foto1 img {
    width: 90%;
    margin-right: 50px;
    float: left;
}

.foto2 img {
    width: 50%;
    margin-top: 45px;
    margin-right: 40px;
    float: right;
}

.foto3 img {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.foto4 img {
    width: 35%;
    margin-top: 30px;
    margin-right: 100px;
    float: right;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.kolom .deskripsi {
    font-size: 20px;
    margin-left: 40px;
    font-weight: thin;
    font-family: 'montserrat'; 
    color: #ffffff;
}

.kolom h2 {
    font-family: 'montserrat';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    color: #ffffff;
}

/* --------------------------------- */

.kolom1 h2 {
    padding-top: 127px;
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-family: 'montserrat'; 
    color: #05a3db;
    text-align: right;
}

.kolom1 h3 {
    font-size: 20px;
    margin-left: 50px;
    font-weight: thin;
    font-family: 'montserrat'; 
    color: #05a3db;
    text-align: right;
}

.kolom1 a {
    margin-bottom: 50px;
    margin-left: 380px;
    background: #05a3db;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.kolom1 a:hover {
    background:#21a5d98c;
    text-decoration: none;
}

/* --------------------------------- */

.kolom2 h2 {
    padding-top: 127px;
    font-size: 30px;
    margin-right: 50px;
    font-weight: bold;
    font-family: 'montserrat'; 
    color: #ffffff;
    text-align: left;
}

.kolom2 h3 {
    font-size: 20px;
    margin-right: 100px;
    font-weight: thin;
    font-family: 'montserrat'; 
    color: #ffffff;
    text-align: left;
}

.kolom2 a {
    margin-bottom: 50px;
    margin-right: 10px;
    background: #fba929;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.kolom2 a:hover {
    background:#fbaa2991;
    text-decoration: none;
}

/* --------------------------------- */

.kolom3 h2 {
    padding-top: 127px;
    padding-right: 520px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'montserrat'; 
    color: #ffffff;
    text-align: right;
}

.kolom3 h3 {
    font-size: 20px;
    padding-right: 520px;
    margin-left: 50px;
    font-weight: thin;
    font-family: 'montserrat'; 
    color: #ffffff;
    text-align: right;
}

.kolom3 a {
    margin-bottom: 50px;
    margin-left: 430px;
    background: #ffffff;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    color: #05a3db;
    cursor: pointer;
    font-weight: bold;
}

.kolom3 a:hover {
    background:#ffffffa2;
    text-decoration: none;
}

/* --------------------------------- */

.kolom4 {
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: thin;
    font-family: 'montserrat'; 
    color: #ffffff;
    text-align: center;
}

.kolom4 a {
    margin-bottom: 90px;
    font-size: 20px;
    background: #ffffff;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    color: #05a3db;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.kolom4 a:hover {
    background:#ffffffa2;
    text-decoration: none;
}

/* --------------------------------- */

a.tbl-biru2 {
    background: #ffffff;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px 20px 15px 20px;
    color: #05a3db;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru2:hover {
    background:#ffffff8c;
    text-decoration: none;
    box-shadow: 0 32px 24px -32px rgba(199, 199, 199, 0.253);
}

/* --------------------------------- */

/* .box-card-h1 {
    padding: 2.5% 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    box-shadow: 0 32px 24px -32px rgba(0,0,0,.05);
    rgba(0, 0, 0, 0.253
} */


/* --------------------------------- */

.box-card-h1 {
        margin-top: 100px;
        width: 1100px;
        margin: auto;
        height: 480px;
        position: relative;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 32px 60px -32px #585858b4;
        border-radius: 20px;
    }

.box-card-h2 {
        margin-top: 100px;
        width: 1100px;
        margin: auto;
        height: 480px;
        position: relative;
        background-color: #465c86;
        box-shadow: 0 32px 60px -32px #585858b4;
        border-radius: 20px;
    }

.box-card-h3 {
        margin-top: 100px;
        width: 1100px;
        margin: auto;
        height: 480px;
        position: relative;
        background-color: #05a3db;
        box-shadow: 0 32px 60px -32px #585858b4;
        border-radius: 20px;
    }

/* --------------------------------- */

.roll1 {
        height: 215vh;
        display: table;
        table-layout: fixed;
        width: 100%;
        background-color: #ebebeb;
    }
    

.roll2 {
    height: 20vh;
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: #05a3db;
}

/* --------------------------------- */

#copyright {
    font-size: 12px;
    text-align: center  ;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 40px;
    color: #ffffff;
}

.wrapper i{
    font-size: 10px;
}
